# -------------------------------------------------------------------------
# Pin assignment of Kintex-7 on SASEBO-GIII
# 
# File name   : pin_sasebo_giii_k7.v
# Version     : 1.1
# Created     : APR/02/2012
# Last update : APR/25/2013
# Desgined by : Toshihiro Katashita
# 
# 
# Copyright (C) 2012, 2013 AIST
# 
# By using this code, you agree to the following terms and conditions.
# 
# This code is copyrighted by AIST ("us").
# 
# Permission is hereby granted to copy, reproduce, redistribute or
# otherwise use this code as long as: there is no monetary profit gained
# specifically from the use or reproduction of this code, it is not sold,
# rented, traded or otherwise marketed, and this copyright notice is
# included prominently in any copy made.
# 
# We shall not be liable for any damages, including without limitation
# direct, indirect, incidental, special or consequential damages arising
# from the use of this code.
# 
# When you publish any results arising from the use of this code, we will
# appreciate it if you can cite our webpage.
# (http://www.risec.aist.go.jp/project/sasebo/)
# -------------------------------------------------------------------------
#================================================　Timing constraint
NET "lbus_clkn" TNM_NET = "clkin_grp";
TIMESPEC TS_clkin = PERIOD "clkin_grp" 41 ns HIGH 50 %;


NET "clkOut" LOC = H17 |IOSTANDARD = LVCMOS25; 

#================================================ Pin assignment
#------------------------------------------------ Clock, reset, LED, and SW.
#################
# CLOCK / RESET #
#################
NET "osc_en_b" TIG;
NET "osc_en_b" LOC = J8;
NET "osc_en_b" IOSTANDARD = LVCMOS25;
NET "osc_en_b" DRIVE = 2;
NET "osc_en_b" SLEW = QUIETIO;

#######
# LED #
#######
NET "led[9]" TIG;
NET "led[9]" LOC = G20;
NET "led[9]" IOSTANDARD = LVCMOS25;
NET "led[9]" DRIVE = 2;
NET "led[9]" SLEW = QUIETIO;
NET "led[8]" TIG;
NET "led[8]" LOC = L19;
NET "led[8]" IOSTANDARD = LVCMOS25;
NET "led[8]" DRIVE = 2;
NET "led[8]" SLEW = QUIETIO;
NET "led[7]" TIG;
NET "led[7]" LOC = K18;
NET "led[7]" IOSTANDARD = LVCMOS25;
NET "led[7]" DRIVE = 2;
NET "led[7]" SLEW = QUIETIO;
NET "led[6]" TIG;
NET "led[6]" LOC = H19;
NET "led[6]" IOSTANDARD = LVCMOS25;
NET "led[6]" DRIVE = 2;
NET "led[6]" SLEW = QUIETIO;
NET "led[5]" TIG;
NET "led[5]" LOC = K15;
NET "led[5]" IOSTANDARD = LVCMOS25;
NET "led[5]" DRIVE = 2;
NET "led[5]" SLEW = QUIETIO;
NET "led[4]" TIG;
NET "led[4]" LOC = P16;
NET "led[4]" IOSTANDARD = LVCMOS25;
NET "led[4]" DRIVE = 2;
NET "led[4]" SLEW = QUIETIO;
NET "led[3]" TIG;
NET "led[3]" LOC = T19;
NET "led[3]" IOSTANDARD = LVCMOS25;
NET "led[3]" DRIVE = 2;
NET "led[3]" SLEW = QUIETIO;
NET "led[2]" TIG;
NET "led[2]" LOC = T18;
NET "led[2]" IOSTANDARD = LVCMOS25;
NET "led[2]" DRIVE = 2;
NET "led[2]" SLEW = QUIETIO;
NET "led[1]" TIG;
NET "led[1]" LOC = H12;
NET "led[1]" IOSTANDARD = LVCMOS25;
NET "led[1]" DRIVE = 2;
NET "led[1]" SLEW = QUIETIO;
NET "led[0]" TIG;
NET "led[0]" LOC = H11;
NET "led[0]" IOSTANDARD = LVCMOS25;
NET "led[0]" DRIVE = 2;
NET "led[0]" SLEW = QUIETIO;

########
# GPIO #
########
NET "gpio_startn" TIG;
NET "gpio_startn" LOC = D19;
NET "gpio_startn" IOSTANDARD = LVCMOS25;
NET "gpio_startn" DRIVE = 2;
NET "gpio_startn" SLEW = QUIETIO;
NET "gpio_endn" TIG;
NET "gpio_endn" LOC = N17;
NET "gpio_endn" IOSTANDARD = LVCMOS25;
NET "gpio_endn" DRIVE = 2;
NET "gpio_endn" SLEW = QUIETIO;
NET "gpio_exec" TIG;
NET "gpio_exec" LOC = N16;
NET "gpio_exec" IOSTANDARD = LVCMOS25;
NET "gpio_exec" DRIVE = 2;
NET "gpio_exec" SLEW = QUIETIO;


##########
## UART ##
##########

NET "tx" LOC = G24;
NET "tx" IOSTANDARD = LVCMOS33;

 

#NET "clko" LOC = H17;
#NET "clko" IOSTANDARD = LVCMOS25;
#------------------------------------------------ Local bus
#############################################
# Spartan-6 HPIC (LVCMOS15, SSTL15 or HTSL) #
#############################################
NET "lbus_clkn" LOC = AB11;
NET "lbus_clkn" IOSTANDARD = LVCMOS15;
NET "lbus_rstn" LOC = AA13;
NET "lbus_rstn" IOSTANDARD = LVCMOS15;

NET "lbus_do[0]" LOC = V4;
NET "lbus_do[0]" IOSTANDARD = LVCMOS15;
NET "lbus_do[0]" DRIVE = 2;
NET "lbus_do[0]" SLEW = QUIETIO;
NET "lbus_do[1]" LOC = V2;
NET "lbus_do[1]" IOSTANDARD = LVCMOS15;
NET "lbus_do[1]" DRIVE = 2;
NET "lbus_do[1]" SLEW = QUIETIO;
NET "lbus_do[2]" LOC = W1;
NET "lbus_do[2]" IOSTANDARD = LVCMOS15;
NET "lbus_do[2]" DRIVE = 2;
NET "lbus_do[2]" SLEW = QUIETIO;
NET "lbus_do[3]" LOC = AB1;
NET "lbus_do[3]" IOSTANDARD = LVCMOS15;
NET "lbus_do[3]" DRIVE = 2;
NET "lbus_do[3]" SLEW = QUIETIO;
NET "lbus_do[4]" LOC = Y3;
NET "lbus_do[4]" IOSTANDARD = LVCMOS15;
NET "lbus_do[4]" DRIVE = 2;
NET "lbus_do[4]" SLEW = QUIETIO;
NET "lbus_do[5]" LOC = U7;
NET "lbus_do[5]" IOSTANDARD = LVCMOS15;
NET "lbus_do[5]" DRIVE = 2;
NET "lbus_do[5]" SLEW = QUIETIO;
NET "lbus_do[6]" LOC = V3;
NET "lbus_do[6]" IOSTANDARD = LVCMOS15;
NET "lbus_do[6]" DRIVE = 2;
NET "lbus_do[6]" SLEW = QUIETIO;
NET "lbus_do[7]" LOC = AF10;
NET "lbus_do[7]" IOSTANDARD = LVCMOS15;
NET "lbus_do[7]" DRIVE = 2;
NET "lbus_do[7]" SLEW = QUIETIO;
NET "lbus_do[8]" LOC = AC13;
NET "lbus_do[8]" IOSTANDARD = LVCMOS15;
NET "lbus_do[8]" DRIVE = 2;
NET "lbus_do[8]" SLEW = QUIETIO;
NET "lbus_do[9]" LOC = AE12;
NET "lbus_do[9]" IOSTANDARD = LVCMOS15;
NET "lbus_do[9]" DRIVE = 2;
NET "lbus_do[9]" SLEW = QUIETIO;
NET "lbus_do[10]" LOC = U6;
NET "lbus_do[10]" IOSTANDARD = LVCMOS15;
NET "lbus_do[10]" DRIVE = 2;
NET "lbus_do[10]" SLEW = QUIETIO;
NET "lbus_do[11]" LOC = AE13;
NET "lbus_do[11]" IOSTANDARD = LVCMOS15;
NET "lbus_do[11]" DRIVE = 2;
NET "lbus_do[11]" SLEW = QUIETIO;
NET "lbus_do[12]" LOC = AA10;
NET "lbus_do[12]" IOSTANDARD = LVCMOS15;
NET "lbus_do[12]" DRIVE = 2;
NET "lbus_do[12]" SLEW = QUIETIO;
NET "lbus_do[13]" LOC = AB12;
NET "lbus_do[13]" IOSTANDARD = LVCMOS15;
NET "lbus_do[13]" DRIVE = 2;
NET "lbus_do[13]" SLEW = QUIETIO;
NET "lbus_do[14]" LOC = AA4;
NET "lbus_do[14]" IOSTANDARD = LVCMOS15;
NET "lbus_do[14]" DRIVE = 2;
NET "lbus_do[14]" SLEW = QUIETIO;
NET "lbus_do[15]" LOC = AE8;
NET "lbus_do[15]" IOSTANDARD = LVCMOS15;
NET "lbus_do[15]" DRIVE = 2;
NET "lbus_do[15]" SLEW = QUIETIO;
NET "lbus_wrn" LOC = AD10;
NET "lbus_wrn" IOSTANDARD = LVCMOS15;
NET "lbus_rdn" LOC = Y13;
NET "lbus_rdn" IOSTANDARD = LVCMOS15;

########################################
# Spartan-6 HRIC (LVCMOS25 or LVDS_25) #
########################################
NET "lbus_di_a[0]" LOC = T22;
NET "lbus_di_a[0]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[1]" LOC = M24;
NET "lbus_di_a[1]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[2]" LOC = K25;
NET "lbus_di_a[2]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[3]" LOC = R26;
NET "lbus_di_a[3]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[4]" LOC = M25;
NET "lbus_di_a[4]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[5]" LOC = U17;
NET "lbus_di_a[5]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[6]" LOC = N26;
NET "lbus_di_a[6]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[7]" LOC = R16;
NET "lbus_di_a[7]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[8]" LOC = T20;
NET "lbus_di_a[8]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[9]" LOC = R22;
NET "lbus_di_a[9]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[10]" LOC = M21;
NET "lbus_di_a[10]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[11]" LOC = T24;
NET "lbus_di_a[11]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[12]" LOC = P23;
NET "lbus_di_a[12]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[13]" LOC = N21;
NET "lbus_di_a[13]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[14]" LOC = R21;
NET "lbus_di_a[14]" IOSTANDARD = LVCMOS25;
NET "lbus_di_a[15]" LOC = N18;
NET "lbus_di_a[15]" IOSTANDARD = LVCMOS25;










# STAGE INSTANCE 39
AREA_GROUP "pblock_tp_[39].CARRY4_insti" RANGE = SLICE_X112Y99:SLICE_X113Y99;
INST "tp/gen_code_label1[39].CARRY4_insti" AREA_GROUP = "pblock_tp_[39].CARRY4_insti";
INST "tp/gen_code_label2[156].LDPE_insti" AREA_GROUP = "pblock_tp_[39].CARRY4_insti";
INST "tp/gen_code_label2[157].LDPE_insti" AREA_GROUP = "pblock_tp_[39].CARRY4_insti";
INST "tp/gen_code_label2[158].LDPE_insti" AREA_GROUP = "pblock_tp_[39].CARRY4_insti";
INST "tp/gen_code_label2[159].LDPE_insti" AREA_GROUP = "pblock_tp_[39].CARRY4_insti";



# STAGE INSTANCE 38
AREA_GROUP "pblock_tp_[38].CARRY4_insti" RANGE = SLICE_X112Y98:SLICE_X113Y98;
INST "tp/gen_code_label1[38].CARRY4_insti" AREA_GROUP = "pblock_tp_[38].CARRY4_insti";
INST "tp/gen_code_label2[152].LDPE_insti" AREA_GROUP = "pblock_tp_[38].CARRY4_insti";
INST "tp/gen_code_label2[153].LDPE_insti" AREA_GROUP = "pblock_tp_[38].CARRY4_insti";
INST "tp/gen_code_label2[154].LDPE_insti" AREA_GROUP = "pblock_tp_[38].CARRY4_insti";
INST "tp/gen_code_label2[155].LDPE_insti" AREA_GROUP = "pblock_tp_[38].CARRY4_insti";



# STAGE INSTANCE 37
AREA_GROUP "pblock_tp_[37].CARRY4_insti" RANGE = SLICE_X112Y97:SLICE_X113Y97;
INST "tp/gen_code_label1[37].CARRY4_insti" AREA_GROUP = "pblock_tp_[37].CARRY4_insti";
INST "tp/gen_code_label2[148].LDPE_insti" AREA_GROUP = "pblock_tp_[37].CARRY4_insti";
INST "tp/gen_code_label2[149].LDPE_insti" AREA_GROUP = "pblock_tp_[37].CARRY4_insti";
INST "tp/gen_code_label2[150].LDPE_insti" AREA_GROUP = "pblock_tp_[37].CARRY4_insti";
INST "tp/gen_code_label2[151].LDPE_insti" AREA_GROUP = "pblock_tp_[37].CARRY4_insti";



# STAGE INSTANCE 36
AREA_GROUP "pblock_tp_[36].CARRY4_insti" RANGE = SLICE_X112Y96:SLICE_X113Y96;
INST "tp/gen_code_label1[36].CARRY4_insti" AREA_GROUP = "pblock_tp_[36].CARRY4_insti";
INST "tp/gen_code_label2[144].LDPE_insti" AREA_GROUP = "pblock_tp_[36].CARRY4_insti";
INST "tp/gen_code_label2[145].LDPE_insti" AREA_GROUP = "pblock_tp_[36].CARRY4_insti";
INST "tp/gen_code_label2[146].LDPE_insti" AREA_GROUP = "pblock_tp_[36].CARRY4_insti";
INST "tp/gen_code_label2[147].LDPE_insti" AREA_GROUP = "pblock_tp_[36].CARRY4_insti";



# STAGE INSTANCE 35
AREA_GROUP "pblock_tp_[35].CARRY4_insti" RANGE = SLICE_X112Y95:SLICE_X113Y95;
INST "tp/gen_code_label1[35].CARRY4_insti" AREA_GROUP = "pblock_tp_[35].CARRY4_insti";
INST "tp/gen_code_label2[140].LDPE_insti" AREA_GROUP = "pblock_tp_[35].CARRY4_insti";
INST "tp/gen_code_label2[141].LDPE_insti" AREA_GROUP = "pblock_tp_[35].CARRY4_insti";
INST "tp/gen_code_label2[142].LDPE_insti" AREA_GROUP = "pblock_tp_[35].CARRY4_insti";
INST "tp/gen_code_label2[143].LDPE_insti" AREA_GROUP = "pblock_tp_[35].CARRY4_insti";



# STAGE INSTANCE 34
AREA_GROUP "pblock_tp_[34].CARRY4_insti" RANGE = SLICE_X112Y94:SLICE_X113Y94;
INST "tp/gen_code_label1[34].CARRY4_insti" AREA_GROUP = "pblock_tp_[34].CARRY4_insti";
INST "tp/gen_code_label2[136].LDPE_insti" AREA_GROUP = "pblock_tp_[34].CARRY4_insti";
INST "tp/gen_code_label2[137].LDPE_insti" AREA_GROUP = "pblock_tp_[34].CARRY4_insti";
INST "tp/gen_code_label2[138].LDPE_insti" AREA_GROUP = "pblock_tp_[34].CARRY4_insti";
INST "tp/gen_code_label2[139].LDPE_insti" AREA_GROUP = "pblock_tp_[34].CARRY4_insti";



# STAGE INSTANCE 33
AREA_GROUP "pblock_tp_[33].CARRY4_insti" RANGE = SLICE_X112Y93:SLICE_X113Y93;
INST "tp/gen_code_label1[33].CARRY4_insti" AREA_GROUP = "pblock_tp_[33].CARRY4_insti";
INST "tp/gen_code_label2[132].LDPE_insti" AREA_GROUP = "pblock_tp_[33].CARRY4_insti";
INST "tp/gen_code_label2[133].LDPE_insti" AREA_GROUP = "pblock_tp_[33].CARRY4_insti";
INST "tp/gen_code_label2[134].LDPE_insti" AREA_GROUP = "pblock_tp_[33].CARRY4_insti";
INST "tp/gen_code_label2[135].LDPE_insti" AREA_GROUP = "pblock_tp_[33].CARRY4_insti";



# STAGE INSTANCE 32
AREA_GROUP "pblock_tp_[32].CARRY4_insti" RANGE = SLICE_X112Y92:SLICE_X113Y92;
INST "tp/gen_code_label1[32].CARRY4_insti" AREA_GROUP = "pblock_tp_[32].CARRY4_insti";
INST "tp/gen_code_label2[128].LDPE_insti" AREA_GROUP = "pblock_tp_[32].CARRY4_insti";
INST "tp/gen_code_label2[129].LDPE_insti" AREA_GROUP = "pblock_tp_[32].CARRY4_insti";
INST "tp/gen_code_label2[130].LDPE_insti" AREA_GROUP = "pblock_tp_[32].CARRY4_insti";
INST "tp/gen_code_label2[131].LDPE_insti" AREA_GROUP = "pblock_tp_[32].CARRY4_insti";



# STAGE INSTANCE 31
AREA_GROUP "pblock_tp_[31].CARRY4_insti" RANGE = SLICE_X112Y91:SLICE_X113Y91;
INST "tp/gen_code_label1[31].CARRY4_insti" AREA_GROUP = "pblock_tp_[31].CARRY4_insti";
INST "tp/gen_code_label2[124].LDPE_insti" AREA_GROUP = "pblock_tp_[31].CARRY4_insti";
INST "tp/gen_code_label2[125].LDPE_insti" AREA_GROUP = "pblock_tp_[31].CARRY4_insti";
INST "tp/gen_code_label2[126].LDPE_insti" AREA_GROUP = "pblock_tp_[31].CARRY4_insti";
INST "tp/gen_code_label2[127].LDPE_insti" AREA_GROUP = "pblock_tp_[31].CARRY4_insti";



# STAGE INSTANCE 30
AREA_GROUP "pblock_tp_[30].CARRY4_insti" RANGE = SLICE_X112Y90:SLICE_X113Y90;
INST "tp/gen_code_label1[30].CARRY4_insti" AREA_GROUP = "pblock_tp_[30].CARRY4_insti";
INST "tp/gen_code_label2[120].LDPE_insti" AREA_GROUP = "pblock_tp_[30].CARRY4_insti";
INST "tp/gen_code_label2[121].LDPE_insti" AREA_GROUP = "pblock_tp_[30].CARRY4_insti";
INST "tp/gen_code_label2[122].LDPE_insti" AREA_GROUP = "pblock_tp_[30].CARRY4_insti";
INST "tp/gen_code_label2[123].LDPE_insti" AREA_GROUP = "pblock_tp_[30].CARRY4_insti";



# STAGE INSTANCE 29
AREA_GROUP "pblock_tp_[29].CARRY4_insti" RANGE = SLICE_X112Y89:SLICE_X113Y89;
INST "tp/gen_code_label1[29].CARRY4_insti" AREA_GROUP = "pblock_tp_[29].CARRY4_insti";
INST "tp/gen_code_label2[116].LDPE_insti" AREA_GROUP = "pblock_tp_[29].CARRY4_insti";
INST "tp/gen_code_label2[117].LDPE_insti" AREA_GROUP = "pblock_tp_[29].CARRY4_insti";
INST "tp/gen_code_label2[118].LDPE_insti" AREA_GROUP = "pblock_tp_[29].CARRY4_insti";
INST "tp/gen_code_label2[119].LDPE_insti" AREA_GROUP = "pblock_tp_[29].CARRY4_insti";



# STAGE INSTANCE 28
AREA_GROUP "pblock_tp_[28].CARRY4_insti" RANGE = SLICE_X112Y88:SLICE_X113Y88;
INST "tp/gen_code_label1[28].CARRY4_insti" AREA_GROUP = "pblock_tp_[28].CARRY4_insti";
INST "tp/gen_code_label2[112].LDPE_insti" AREA_GROUP = "pblock_tp_[28].CARRY4_insti";
INST "tp/gen_code_label2[113].LDPE_insti" AREA_GROUP = "pblock_tp_[28].CARRY4_insti";
INST "tp/gen_code_label2[114].LDPE_insti" AREA_GROUP = "pblock_tp_[28].CARRY4_insti";
INST "tp/gen_code_label2[115].LDPE_insti" AREA_GROUP = "pblock_tp_[28].CARRY4_insti";



# STAGE INSTANCE 27
AREA_GROUP "pblock_tp_[27].CARRY4_insti" RANGE = SLICE_X112Y87:SLICE_X113Y87;
INST "tp/gen_code_label1[27].CARRY4_insti" AREA_GROUP = "pblock_tp_[27].CARRY4_insti";
INST "tp/gen_code_label2[108].LDPE_insti" AREA_GROUP = "pblock_tp_[27].CARRY4_insti";
INST "tp/gen_code_label2[109].LDPE_insti" AREA_GROUP = "pblock_tp_[27].CARRY4_insti";
INST "tp/gen_code_label2[110].LDPE_insti" AREA_GROUP = "pblock_tp_[27].CARRY4_insti";
INST "tp/gen_code_label2[111].LDPE_insti" AREA_GROUP = "pblock_tp_[27].CARRY4_insti";



# STAGE INSTANCE 26
AREA_GROUP "pblock_tp_[26].CARRY4_insti" RANGE = SLICE_X112Y86:SLICE_X113Y86;
INST "tp/gen_code_label1[26].CARRY4_insti" AREA_GROUP = "pblock_tp_[26].CARRY4_insti";
INST "tp/gen_code_label2[104].LDPE_insti" AREA_GROUP = "pblock_tp_[26].CARRY4_insti";
INST "tp/gen_code_label2[105].LDPE_insti" AREA_GROUP = "pblock_tp_[26].CARRY4_insti";
INST "tp/gen_code_label2[106].LDPE_insti" AREA_GROUP = "pblock_tp_[26].CARRY4_insti";
INST "tp/gen_code_label2[107].LDPE_insti" AREA_GROUP = "pblock_tp_[26].CARRY4_insti";



# STAGE INSTANCE 25
AREA_GROUP "pblock_tp_[25].CARRY4_insti" RANGE = SLICE_X112Y85:SLICE_X113Y85;
INST "tp/gen_code_label1[25].CARRY4_insti" AREA_GROUP = "pblock_tp_[25].CARRY4_insti";
INST "tp/gen_code_label2[100].LDPE_insti" AREA_GROUP = "pblock_tp_[25].CARRY4_insti";
INST "tp/gen_code_label2[101].LDPE_insti" AREA_GROUP = "pblock_tp_[25].CARRY4_insti";
INST "tp/gen_code_label2[102].LDPE_insti" AREA_GROUP = "pblock_tp_[25].CARRY4_insti";
INST "tp/gen_code_label2[103].LDPE_insti" AREA_GROUP = "pblock_tp_[25].CARRY4_insti";



# STAGE INSTANCE 24
AREA_GROUP "pblock_tp_[24].CARRY4_insti" RANGE = SLICE_X112Y84:SLICE_X113Y84;
INST "tp/gen_code_label1[24].CARRY4_insti" AREA_GROUP = "pblock_tp_[24].CARRY4_insti";
INST "tp/gen_code_label2[96].LDPE_insti" AREA_GROUP = "pblock_tp_[24].CARRY4_insti";
INST "tp/gen_code_label2[97].LDPE_insti" AREA_GROUP = "pblock_tp_[24].CARRY4_insti";
INST "tp/gen_code_label2[98].LDPE_insti" AREA_GROUP = "pblock_tp_[24].CARRY4_insti";
INST "tp/gen_code_label2[99].LDPE_insti" AREA_GROUP = "pblock_tp_[24].CARRY4_insti";



# STAGE INSTANCE 23
AREA_GROUP "pblock_tp_[23].CARRY4_insti" RANGE = SLICE_X112Y83:SLICE_X113Y83;
INST "tp/gen_code_label1[23].CARRY4_insti" AREA_GROUP = "pblock_tp_[23].CARRY4_insti";
INST "tp/gen_code_label2[92].LDPE_insti" AREA_GROUP = "pblock_tp_[23].CARRY4_insti";
INST "tp/gen_code_label2[93].LDPE_insti" AREA_GROUP = "pblock_tp_[23].CARRY4_insti";
INST "tp/gen_code_label2[94].LDPE_insti" AREA_GROUP = "pblock_tp_[23].CARRY4_insti";
INST "tp/gen_code_label2[95].LDPE_insti" AREA_GROUP = "pblock_tp_[23].CARRY4_insti";



# STAGE INSTANCE 22
AREA_GROUP "pblock_tp_[22].CARRY4_insti" RANGE = SLICE_X112Y82:SLICE_X113Y82;
INST "tp/gen_code_label1[22].CARRY4_insti" AREA_GROUP = "pblock_tp_[22].CARRY4_insti";
INST "tp/gen_code_label2[88].LDPE_insti" AREA_GROUP = "pblock_tp_[22].CARRY4_insti";
INST "tp/gen_code_label2[89].LDPE_insti" AREA_GROUP = "pblock_tp_[22].CARRY4_insti";
INST "tp/gen_code_label2[90].LDPE_insti" AREA_GROUP = "pblock_tp_[22].CARRY4_insti";
INST "tp/gen_code_label2[91].LDPE_insti" AREA_GROUP = "pblock_tp_[22].CARRY4_insti";



# STAGE INSTANCE 21
AREA_GROUP "pblock_tp_[21].CARRY4_insti" RANGE = SLICE_X112Y81:SLICE_X113Y81;
INST "tp/gen_code_label1[21].CARRY4_insti" AREA_GROUP = "pblock_tp_[21].CARRY4_insti";
INST "tp/gen_code_label2[84].LDPE_insti" AREA_GROUP = "pblock_tp_[21].CARRY4_insti";
INST "tp/gen_code_label2[85].LDPE_insti" AREA_GROUP = "pblock_tp_[21].CARRY4_insti";
INST "tp/gen_code_label2[86].LDPE_insti" AREA_GROUP = "pblock_tp_[21].CARRY4_insti";
INST "tp/gen_code_label2[87].LDPE_insti" AREA_GROUP = "pblock_tp_[21].CARRY4_insti";



# STAGE INSTANCE 20
AREA_GROUP "pblock_tp_[20].CARRY4_insti" RANGE = SLICE_X112Y80:SLICE_X113Y80;
INST "tp/gen_code_label1[20].CARRY4_insti" AREA_GROUP = "pblock_tp_[20].CARRY4_insti";
INST "tp/gen_code_label2[80].LDPE_insti" AREA_GROUP = "pblock_tp_[20].CARRY4_insti";
INST "tp/gen_code_label2[81].LDPE_insti" AREA_GROUP = "pblock_tp_[20].CARRY4_insti";
INST "tp/gen_code_label2[82].LDPE_insti" AREA_GROUP = "pblock_tp_[20].CARRY4_insti";
INST "tp/gen_code_label2[83].LDPE_insti" AREA_GROUP = "pblock_tp_[20].CARRY4_insti";



# STAGE INSTANCE 19
AREA_GROUP "pblock_tp_[19].CARRY4_insti" RANGE = SLICE_X112Y79:SLICE_X113Y79;
INST "tp/gen_code_label1[19].CARRY4_insti" AREA_GROUP = "pblock_tp_[19].CARRY4_insti";
INST "tp/gen_code_label2[76].LDPE_insti" AREA_GROUP = "pblock_tp_[19].CARRY4_insti";
INST "tp/gen_code_label2[77].LDPE_insti" AREA_GROUP = "pblock_tp_[19].CARRY4_insti";
INST "tp/gen_code_label2[78].LDPE_insti" AREA_GROUP = "pblock_tp_[19].CARRY4_insti";
INST "tp/gen_code_label2[79].LDPE_insti" AREA_GROUP = "pblock_tp_[19].CARRY4_insti";



# STAGE INSTANCE 18
AREA_GROUP "pblock_tp_[18].CARRY4_insti" RANGE = SLICE_X112Y78:SLICE_X113Y78;
INST "tp/gen_code_label1[18].CARRY4_insti" AREA_GROUP = "pblock_tp_[18].CARRY4_insti";
INST "tp/gen_code_label2[72].LDPE_insti" AREA_GROUP = "pblock_tp_[18].CARRY4_insti";
INST "tp/gen_code_label2[73].LDPE_insti" AREA_GROUP = "pblock_tp_[18].CARRY4_insti";
INST "tp/gen_code_label2[74].LDPE_insti" AREA_GROUP = "pblock_tp_[18].CARRY4_insti";
INST "tp/gen_code_label2[75].LDPE_insti" AREA_GROUP = "pblock_tp_[18].CARRY4_insti";



# STAGE INSTANCE 17
AREA_GROUP "pblock_tp_[17].CARRY4_insti" RANGE = SLICE_X112Y77:SLICE_X113Y77;
INST "tp/gen_code_label1[17].CARRY4_insti" AREA_GROUP = "pblock_tp_[17].CARRY4_insti";
INST "tp/gen_code_label2[68].LDPE_insti" AREA_GROUP = "pblock_tp_[17].CARRY4_insti";
INST "tp/gen_code_label2[69].LDPE_insti" AREA_GROUP = "pblock_tp_[17].CARRY4_insti";
INST "tp/gen_code_label2[70].LDPE_insti" AREA_GROUP = "pblock_tp_[17].CARRY4_insti";
INST "tp/gen_code_label2[71].LDPE_insti" AREA_GROUP = "pblock_tp_[17].CARRY4_insti";



# STAGE INSTANCE 16
AREA_GROUP "pblock_tp_[16].CARRY4_insti" RANGE = SLICE_X112Y76:SLICE_X113Y76;
INST "tp/gen_code_label1[16].CARRY4_insti" AREA_GROUP = "pblock_tp_[16].CARRY4_insti";
INST "tp/gen_code_label2[64].LDPE_insti" AREA_GROUP = "pblock_tp_[16].CARRY4_insti";
INST "tp/gen_code_label2[65].LDPE_insti" AREA_GROUP = "pblock_tp_[16].CARRY4_insti";
INST "tp/gen_code_label2[66].LDPE_insti" AREA_GROUP = "pblock_tp_[16].CARRY4_insti";
INST "tp/gen_code_label2[67].LDPE_insti" AREA_GROUP = "pblock_tp_[16].CARRY4_insti";



# STAGE INSTANCE 15
AREA_GROUP "pblock_tp_[15].CARRY4_insti" RANGE = SLICE_X112Y75:SLICE_X113Y75;
INST "tp/gen_code_label1[15].CARRY4_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
INST "tp/gen_code_label2[60].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
INST "tp/gen_code_label2[61].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
INST "tp/gen_code_label2[62].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
INST "tp/gen_code_label2[63].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";



# STAGE INSTANCE 14
AREA_GROUP "pblock_tp_[14].CARRY4_insti" RANGE = SLICE_X112Y74:SLICE_X113Y74;
INST "tp/gen_code_label1[14].CARRY4_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
INST "tp/gen_code_label2[56].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
INST "tp/gen_code_label2[57].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
INST "tp/gen_code_label2[58].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
INST "tp/gen_code_label2[59].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";



# STAGE INSTANCE 13
AREA_GROUP "pblock_tp_[13].CARRY4_insti" RANGE = SLICE_X112Y73:SLICE_X113Y73;
INST "tp/gen_code_label1[13].CARRY4_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
INST "tp/gen_code_label2[52].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
INST "tp/gen_code_label2[53].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
INST "tp/gen_code_label2[54].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
INST "tp/gen_code_label2[55].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";



# STAGE INSTANCE 12
AREA_GROUP "pblock_tp_[12].CARRY4_insti" RANGE = SLICE_X112Y72:SLICE_X113Y72;
INST "tp/gen_code_label1[12].CARRY4_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
INST "tp/gen_code_label2[48].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
INST "tp/gen_code_label2[49].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
INST "tp/gen_code_label2[50].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
INST "tp/gen_code_label2[51].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";



# STAGE INSTANCE 11
AREA_GROUP "pblock_tp_[11].CARRY4_insti" RANGE = SLICE_X112Y71:SLICE_X113Y71;
INST "tp/gen_code_label1[11].CARRY4_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
INST "tp/gen_code_label2[44].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
INST "tp/gen_code_label2[45].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
INST "tp/gen_code_label2[46].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
INST "tp/gen_code_label2[47].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";



# STAGE INSTANCE 10
AREA_GROUP "pblock_tp_[10].CARRY4_insti" RANGE = SLICE_X112Y70:SLICE_X113Y70;
INST "tp/gen_code_label1[10].CARRY4_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
INST "tp/gen_code_label2[40].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
INST "tp/gen_code_label2[41].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
INST "tp/gen_code_label2[42].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
INST "tp/gen_code_label2[43].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";



# STAGE INSTANCE 9
AREA_GROUP "pblock_tp_[9].CARRY4_insti" RANGE = SLICE_X112Y69:SLICE_X113Y69;
INST "tp/gen_code_label1[9].CARRY4_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
INST "tp/gen_code_label2[36].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
INST "tp/gen_code_label2[37].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
INST "tp/gen_code_label2[38].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
INST "tp/gen_code_label2[39].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";



# STAGE INSTANCE 8
AREA_GROUP "pblock_tp_[8].CARRY4_insti" RANGE = SLICE_X112Y68:SLICE_X113Y68;
INST "tp/gen_code_label1[8].CARRY4_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
INST "tp/gen_code_label2[32].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
INST "tp/gen_code_label2[33].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
INST "tp/gen_code_label2[34].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
INST "tp/gen_code_label2[35].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";



# STAGE INSTANCE 7
AREA_GROUP "pblock_tp_[7].CARRY4_insti" RANGE = SLICE_X112Y67:SLICE_X113Y67;
INST "tp/gen_code_label1[7].CARRY4_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
INST "tp/gen_code_label2[28].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
INST "tp/gen_code_label2[29].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
INST "tp/gen_code_label2[30].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
INST "tp/gen_code_label2[31].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";



# STAGE INSTANCE 6
AREA_GROUP "pblock_tp_[6].CARRY4_insti" RANGE = SLICE_X112Y66:SLICE_X113Y66;
INST "tp/gen_code_label1[6].CARRY4_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
INST "tp/gen_code_label2[24].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
INST "tp/gen_code_label2[25].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
INST "tp/gen_code_label2[26].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
INST "tp/gen_code_label2[27].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";



# STAGE INSTANCE 5
AREA_GROUP "pblock_tp_[5].CARRY4_insti" RANGE = SLICE_X112Y65:SLICE_X113Y65;
INST "tp/gen_code_label1[5].CARRY4_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
INST "tp/gen_code_label2[20].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
INST "tp/gen_code_label2[21].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
INST "tp/gen_code_label2[22].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
INST "tp/gen_code_label2[23].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";



# STAGE INSTANCE 4
AREA_GROUP "pblock_tp_[4].CARRY4_insti" RANGE = SLICE_X112Y64:SLICE_X113Y64;
INST "tp/gen_code_label1[4].CARRY4_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
INST "tp/gen_code_label2[16].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
INST "tp/gen_code_label2[17].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
INST "tp/gen_code_label2[18].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
INST "tp/gen_code_label2[19].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";



# STAGE INSTANCE 3
AREA_GROUP "pblock_tp_[3].CARRY4_insti" RANGE = SLICE_X112Y63:SLICE_X113Y63;
INST "tp/gen_code_label1[3].CARRY4_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
INST "tp/gen_code_label2[12].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
INST "tp/gen_code_label2[13].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
INST "tp/gen_code_label2[14].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
INST "tp/gen_code_label2[15].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";



# STAGE INSTANCE 2
AREA_GROUP "pblock_tp_[2].CARRY4_insti" RANGE = SLICE_X112Y62:SLICE_X113Y62;
INST "tp/gen_code_label1[2].CARRY4_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
INST "tp/gen_code_label2[8].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
INST "tp/gen_code_label2[9].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
INST "tp/gen_code_label2[10].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
INST "tp/gen_code_label2[11].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";



# STAGE INSTANCE 1
AREA_GROUP "pblock_tp_[1].CARRY4_insti" RANGE = SLICE_X112Y61:SLICE_X113Y61;
INST "tp/gen_code_label1[1].CARRY4_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
INST "tp/gen_code_label2[4].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
INST "tp/gen_code_label2[5].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
INST "tp/gen_code_label2[6].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
INST "tp/gen_code_label2[7].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";



# STAGE INSTANCE 0
AREA_GROUP "pblock_tp_[0].CARRY4_insti" RANGE = SLICE_X112Y60:SLICE_X113Y60;
INST "tp/gen_code_label1[0].CARRY4_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
INST "tp/gen_code_label2[0].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
INST "tp/gen_code_label2[1].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
INST "tp/gen_code_label2[2].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
INST "tp/gen_code_label2[3].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";



# INITIAL DELAY INSTANCE 2
AREA_GROUP "pblock_idelay[2]" RANGE=SLICE_X112Y59:SLICE_X113Y59;
INST "tp/gen_code_label3[8].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
INST "tp/gen_code_label3[9].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
INST "tp/gen_code_label3[10].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
INST "tp/gen_code_label3[11].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
INST "tp/gen_code_label3[8].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";
INST "tp/gen_code_label3[9].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";
INST "tp/gen_code_label3[10].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";
INST "tp/gen_code_label3[11].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";



# INITIAL DELAY INSTANCE 1
AREA_GROUP "pblock_idelay[1]" RANGE=SLICE_X112Y58:SLICE_X113Y58;
INST "tp/gen_code_label3[4].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
INST "tp/gen_code_label3[5].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
INST "tp/gen_code_label3[6].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
INST "tp/gen_code_label3[7].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
INST "tp/gen_code_label3[4].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";
INST "tp/gen_code_label3[5].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";
INST "tp/gen_code_label3[6].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";
INST "tp/gen_code_label3[7].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";



# INITIAL DELAY INSTANCE 0
AREA_GROUP "pblock_idelay[0]" RANGE=SLICE_X112Y57:SLICE_X113Y57;
INST "tp/gen_code_label3[0].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
INST "tp/gen_code_label3[1].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
INST "tp/gen_code_label3[2].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
INST "tp/gen_code_label3[3].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
INST "tp/gen_code_label3[0].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";
INST "tp/gen_code_label3[1].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";
INST "tp/gen_code_label3[2].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";
INST "tp/gen_code_label3[3].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";




























## STAGE INSTANCE 15
#AREA_GROUP "pblock_tp_[15].CARRY4_insti" RANGE = SLICE_X112Y98:SLICE_X113Y98;
#INST "tp/gen_code_label1[15].CARRY4_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
#INST "tp/gen_code_label2[60].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
#INST "tp/gen_code_label2[61].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
#INST "tp/gen_code_label2[62].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
#INST "tp/gen_code_label2[63].LDPE_insti" AREA_GROUP = "pblock_tp_[15].CARRY4_insti";
#
#
#
## STAGE INSTANCE 14
#AREA_GROUP "pblock_tp_[14].CARRY4_insti" RANGE = SLICE_X112Y97:SLICE_X113Y97;
#INST "tp/gen_code_label1[14].CARRY4_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
#INST "tp/gen_code_label2[56].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
#INST "tp/gen_code_label2[57].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
#INST "tp/gen_code_label2[58].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
#INST "tp/gen_code_label2[59].LDPE_insti" AREA_GROUP = "pblock_tp_[14].CARRY4_insti";
#
#
#
## STAGE INSTANCE 13
#AREA_GROUP "pblock_tp_[13].CARRY4_insti" RANGE = SLICE_X112Y96:SLICE_X113Y96;
#INST "tp/gen_code_label1[13].CARRY4_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
#INST "tp/gen_code_label2[52].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
#INST "tp/gen_code_label2[53].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
#INST "tp/gen_code_label2[54].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
#INST "tp/gen_code_label2[55].LDPE_insti" AREA_GROUP = "pblock_tp_[13].CARRY4_insti";
#
#
#
## STAGE INSTANCE 12
#AREA_GROUP "pblock_tp_[12].CARRY4_insti" RANGE = SLICE_X112Y95:SLICE_X113Y95;
#INST "tp/gen_code_label1[12].CARRY4_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
#INST "tp/gen_code_label2[48].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
#INST "tp/gen_code_label2[49].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
#INST "tp/gen_code_label2[50].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
#INST "tp/gen_code_label2[51].LDPE_insti" AREA_GROUP = "pblock_tp_[12].CARRY4_insti";
#
#
#
## STAGE INSTANCE 11
#AREA_GROUP "pblock_tp_[11].CARRY4_insti" RANGE = SLICE_X112Y94:SLICE_X113Y94;
#INST "tp/gen_code_label1[11].CARRY4_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
#INST "tp/gen_code_label2[44].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
#INST "tp/gen_code_label2[45].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
#INST "tp/gen_code_label2[46].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
#INST "tp/gen_code_label2[47].LDPE_insti" AREA_GROUP = "pblock_tp_[11].CARRY4_insti";
#
#
#
## STAGE INSTANCE 10
#AREA_GROUP "pblock_tp_[10].CARRY4_insti" RANGE = SLICE_X112Y93:SLICE_X113Y93;
#INST "tp/gen_code_label1[10].CARRY4_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
#INST "tp/gen_code_label2[40].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
#INST "tp/gen_code_label2[41].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
#INST "tp/gen_code_label2[42].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
#INST "tp/gen_code_label2[43].LDPE_insti" AREA_GROUP = "pblock_tp_[10].CARRY4_insti";
#
#
#
## STAGE INSTANCE 9
#AREA_GROUP "pblock_tp_[9].CARRY4_insti" RANGE = SLICE_X112Y92:SLICE_X113Y92;
#INST "tp/gen_code_label1[9].CARRY4_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
#INST "tp/gen_code_label2[36].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
#INST "tp/gen_code_label2[37].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
#INST "tp/gen_code_label2[38].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
#INST "tp/gen_code_label2[39].LDPE_insti" AREA_GROUP = "pblock_tp_[9].CARRY4_insti";
#
#
#
## STAGE INSTANCE 8
#AREA_GROUP "pblock_tp_[8].CARRY4_insti" RANGE = SLICE_X112Y91:SLICE_X113Y91;
#INST "tp/gen_code_label1[8].CARRY4_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
#INST "tp/gen_code_label2[32].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
#INST "tp/gen_code_label2[33].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
#INST "tp/gen_code_label2[34].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
#INST "tp/gen_code_label2[35].LDPE_insti" AREA_GROUP = "pblock_tp_[8].CARRY4_insti";
#
#
#
## STAGE INSTANCE 7
#AREA_GROUP "pblock_tp_[7].CARRY4_insti" RANGE = SLICE_X112Y90:SLICE_X113Y90;
#INST "tp/gen_code_label1[7].CARRY4_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
#INST "tp/gen_code_label2[28].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
#INST "tp/gen_code_label2[29].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
#INST "tp/gen_code_label2[30].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
#INST "tp/gen_code_label2[31].LDPE_insti" AREA_GROUP = "pblock_tp_[7].CARRY4_insti";
#
#
#
## STAGE INSTANCE 6
#AREA_GROUP "pblock_tp_[6].CARRY4_insti" RANGE = SLICE_X112Y89:SLICE_X113Y89;
#INST "tp/gen_code_label1[6].CARRY4_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
#INST "tp/gen_code_label2[24].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
#INST "tp/gen_code_label2[25].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
#INST "tp/gen_code_label2[26].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
#INST "tp/gen_code_label2[27].LDPE_insti" AREA_GROUP = "pblock_tp_[6].CARRY4_insti";
#
#
#
## STAGE INSTANCE 5
#AREA_GROUP "pblock_tp_[5].CARRY4_insti" RANGE = SLICE_X112Y88:SLICE_X113Y88;
#INST "tp/gen_code_label1[5].CARRY4_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
#INST "tp/gen_code_label2[20].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
#INST "tp/gen_code_label2[21].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
#INST "tp/gen_code_label2[22].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
#INST "tp/gen_code_label2[23].LDPE_insti" AREA_GROUP = "pblock_tp_[5].CARRY4_insti";
#
#
#
## STAGE INSTANCE 4
#AREA_GROUP "pblock_tp_[4].CARRY4_insti" RANGE = SLICE_X112Y87:SLICE_X113Y87;
#INST "tp/gen_code_label1[4].CARRY4_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
#INST "tp/gen_code_label2[16].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
#INST "tp/gen_code_label2[17].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
#INST "tp/gen_code_label2[18].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
#INST "tp/gen_code_label2[19].LDPE_insti" AREA_GROUP = "pblock_tp_[4].CARRY4_insti";
#
#
#
## STAGE INSTANCE 3
#AREA_GROUP "pblock_tp_[3].CARRY4_insti" RANGE = SLICE_X112Y86:SLICE_X113Y86;
#INST "tp/gen_code_label1[3].CARRY4_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
#INST "tp/gen_code_label2[12].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
#INST "tp/gen_code_label2[13].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
#INST "tp/gen_code_label2[14].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
#INST "tp/gen_code_label2[15].LDPE_insti" AREA_GROUP = "pblock_tp_[3].CARRY4_insti";
#
#
#
## STAGE INSTANCE 2
#AREA_GROUP "pblock_tp_[2].CARRY4_insti" RANGE = SLICE_X112Y85:SLICE_X113Y85;
#INST "tp/gen_code_label1[2].CARRY4_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
#INST "tp/gen_code_label2[8].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
#INST "tp/gen_code_label2[9].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
#INST "tp/gen_code_label2[10].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
#INST "tp/gen_code_label2[11].LDPE_insti" AREA_GROUP = "pblock_tp_[2].CARRY4_insti";
#
#
#
## STAGE INSTANCE 1
#AREA_GROUP "pblock_tp_[1].CARRY4_insti" RANGE = SLICE_X112Y84:SLICE_X113Y84;
#INST "tp/gen_code_label1[1].CARRY4_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
#INST "tp/gen_code_label2[4].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
#INST "tp/gen_code_label2[5].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
#INST "tp/gen_code_label2[6].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
#INST "tp/gen_code_label2[7].LDPE_insti" AREA_GROUP = "pblock_tp_[1].CARRY4_insti";
#
#
#
## STAGE INSTANCE 0
#AREA_GROUP "pblock_tp_[0].CARRY4_insti" RANGE = SLICE_X112Y83:SLICE_X113Y83;
#INST "tp/gen_code_label1[0].CARRY4_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
#INST "tp/gen_code_label2[0].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
#INST "tp/gen_code_label2[1].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
#INST "tp/gen_code_label2[2].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
#INST "tp/gen_code_label2[3].LDPE_insti" AREA_GROUP = "pblock_tp_[0].CARRY4_insti";
#
#
#
## INITIAL DELAY INSTANCE 23
#AREA_GROUP "pblock_idelay[23]" RANGE=SLICE_X112Y82:SLICE_X113Y82;
#INST "tp/gen_code_label3[92].LUT1_insti" AREA_GROUP = "pblock_idelay[23]";
#INST "tp/gen_code_label3[93].LUT1_insti" AREA_GROUP = "pblock_idelay[23]";
#INST "tp/gen_code_label3[94].LUT1_insti" AREA_GROUP = "pblock_idelay[23]";
#INST "tp/gen_code_label3[95].LUT1_insti" AREA_GROUP = "pblock_idelay[23]";
#INST "tp/gen_code_label3[92].LDCE_Delayi" AREA_GROUP = "pblock_idelay[23]";
#INST "tp/gen_code_label3[93].LDCE_Delayi" AREA_GROUP = "pblock_idelay[23]";
#INST "tp/gen_code_label3[94].LDCE_Delayi" AREA_GROUP = "pblock_idelay[23]";
#INST "tp/gen_code_label3[95].LDCE_Delayi" AREA_GROUP = "pblock_idelay[23]";
#
#
#
## INITIAL DELAY INSTANCE 22
#AREA_GROUP "pblock_idelay[22]" RANGE=SLICE_X112Y81:SLICE_X113Y81;
#INST "tp/gen_code_label3[88].LUT1_insti" AREA_GROUP = "pblock_idelay[22]";
#INST "tp/gen_code_label3[89].LUT1_insti" AREA_GROUP = "pblock_idelay[22]";
#INST "tp/gen_code_label3[90].LUT1_insti" AREA_GROUP = "pblock_idelay[22]";
#INST "tp/gen_code_label3[91].LUT1_insti" AREA_GROUP = "pblock_idelay[22]";
#INST "tp/gen_code_label3[88].LDCE_Delayi" AREA_GROUP = "pblock_idelay[22]";
#INST "tp/gen_code_label3[89].LDCE_Delayi" AREA_GROUP = "pblock_idelay[22]";
#INST "tp/gen_code_label3[90].LDCE_Delayi" AREA_GROUP = "pblock_idelay[22]";
#INST "tp/gen_code_label3[91].LDCE_Delayi" AREA_GROUP = "pblock_idelay[22]";
#
#
#
## INITIAL DELAY INSTANCE 21
#AREA_GROUP "pblock_idelay[21]" RANGE=SLICE_X112Y80:SLICE_X113Y80;
#INST "tp/gen_code_label3[84].LUT1_insti" AREA_GROUP = "pblock_idelay[21]";
#INST "tp/gen_code_label3[85].LUT1_insti" AREA_GROUP = "pblock_idelay[21]";
#INST "tp/gen_code_label3[86].LUT1_insti" AREA_GROUP = "pblock_idelay[21]";
#INST "tp/gen_code_label3[87].LUT1_insti" AREA_GROUP = "pblock_idelay[21]";
#INST "tp/gen_code_label3[84].LDCE_Delayi" AREA_GROUP = "pblock_idelay[21]";
#INST "tp/gen_code_label3[85].LDCE_Delayi" AREA_GROUP = "pblock_idelay[21]";
#INST "tp/gen_code_label3[86].LDCE_Delayi" AREA_GROUP = "pblock_idelay[21]";
#INST "tp/gen_code_label3[87].LDCE_Delayi" AREA_GROUP = "pblock_idelay[21]";
#
#
#
## INITIAL DELAY INSTANCE 20
#AREA_GROUP "pblock_idelay[20]" RANGE=SLICE_X112Y79:SLICE_X113Y79;
#INST "tp/gen_code_label3[80].LUT1_insti" AREA_GROUP = "pblock_idelay[20]";
#INST "tp/gen_code_label3[81].LUT1_insti" AREA_GROUP = "pblock_idelay[20]";
#INST "tp/gen_code_label3[82].LUT1_insti" AREA_GROUP = "pblock_idelay[20]";
#INST "tp/gen_code_label3[83].LUT1_insti" AREA_GROUP = "pblock_idelay[20]";
#INST "tp/gen_code_label3[80].LDCE_Delayi" AREA_GROUP = "pblock_idelay[20]";
#INST "tp/gen_code_label3[81].LDCE_Delayi" AREA_GROUP = "pblock_idelay[20]";
#INST "tp/gen_code_label3[82].LDCE_Delayi" AREA_GROUP = "pblock_idelay[20]";
#INST "tp/gen_code_label3[83].LDCE_Delayi" AREA_GROUP = "pblock_idelay[20]";
#
#
#
## INITIAL DELAY INSTANCE 19
#AREA_GROUP "pblock_idelay[19]" RANGE=SLICE_X112Y78:SLICE_X113Y78;
#INST "tp/gen_code_label3[76].LUT1_insti" AREA_GROUP = "pblock_idelay[19]";
#INST "tp/gen_code_label3[77].LUT1_insti" AREA_GROUP = "pblock_idelay[19]";
#INST "tp/gen_code_label3[78].LUT1_insti" AREA_GROUP = "pblock_idelay[19]";
#INST "tp/gen_code_label3[79].LUT1_insti" AREA_GROUP = "pblock_idelay[19]";
#INST "tp/gen_code_label3[76].LDCE_Delayi" AREA_GROUP = "pblock_idelay[19]";
#INST "tp/gen_code_label3[77].LDCE_Delayi" AREA_GROUP = "pblock_idelay[19]";
#INST "tp/gen_code_label3[78].LDCE_Delayi" AREA_GROUP = "pblock_idelay[19]";
#INST "tp/gen_code_label3[79].LDCE_Delayi" AREA_GROUP = "pblock_idelay[19]";
#
#
#
## INITIAL DELAY INSTANCE 18
#AREA_GROUP "pblock_idelay[18]" RANGE=SLICE_X112Y77:SLICE_X113Y77;
#INST "tp/gen_code_label3[72].LUT1_insti" AREA_GROUP = "pblock_idelay[18]";
#INST "tp/gen_code_label3[73].LUT1_insti" AREA_GROUP = "pblock_idelay[18]";
#INST "tp/gen_code_label3[74].LUT1_insti" AREA_GROUP = "pblock_idelay[18]";
#INST "tp/gen_code_label3[75].LUT1_insti" AREA_GROUP = "pblock_idelay[18]";
#INST "tp/gen_code_label3[72].LDCE_Delayi" AREA_GROUP = "pblock_idelay[18]";
#INST "tp/gen_code_label3[73].LDCE_Delayi" AREA_GROUP = "pblock_idelay[18]";
#INST "tp/gen_code_label3[74].LDCE_Delayi" AREA_GROUP = "pblock_idelay[18]";
#INST "tp/gen_code_label3[75].LDCE_Delayi" AREA_GROUP = "pblock_idelay[18]";
#
#
#
## INITIAL DELAY INSTANCE 17
#AREA_GROUP "pblock_idelay[17]" RANGE=SLICE_X112Y76:SLICE_X113Y76;
#INST "tp/gen_code_label3[68].LUT1_insti" AREA_GROUP = "pblock_idelay[17]";
#INST "tp/gen_code_label3[69].LUT1_insti" AREA_GROUP = "pblock_idelay[17]";
#INST "tp/gen_code_label3[70].LUT1_insti" AREA_GROUP = "pblock_idelay[17]";
#INST "tp/gen_code_label3[71].LUT1_insti" AREA_GROUP = "pblock_idelay[17]";
#INST "tp/gen_code_label3[68].LDCE_Delayi" AREA_GROUP = "pblock_idelay[17]";
#INST "tp/gen_code_label3[69].LDCE_Delayi" AREA_GROUP = "pblock_idelay[17]";
#INST "tp/gen_code_label3[70].LDCE_Delayi" AREA_GROUP = "pblock_idelay[17]";
#INST "tp/gen_code_label3[71].LDCE_Delayi" AREA_GROUP = "pblock_idelay[17]";
#
#
#
## INITIAL DELAY INSTANCE 16
#AREA_GROUP "pblock_idelay[16]" RANGE=SLICE_X112Y75:SLICE_X113Y75;
#INST "tp/gen_code_label3[64].LUT1_insti" AREA_GROUP = "pblock_idelay[16]";
#INST "tp/gen_code_label3[65].LUT1_insti" AREA_GROUP = "pblock_idelay[16]";
#INST "tp/gen_code_label3[66].LUT1_insti" AREA_GROUP = "pblock_idelay[16]";
#INST "tp/gen_code_label3[67].LUT1_insti" AREA_GROUP = "pblock_idelay[16]";
#INST "tp/gen_code_label3[64].LDCE_Delayi" AREA_GROUP = "pblock_idelay[16]";
#INST "tp/gen_code_label3[65].LDCE_Delayi" AREA_GROUP = "pblock_idelay[16]";
#INST "tp/gen_code_label3[66].LDCE_Delayi" AREA_GROUP = "pblock_idelay[16]";
#INST "tp/gen_code_label3[67].LDCE_Delayi" AREA_GROUP = "pblock_idelay[16]";
#
#
#
## INITIAL DELAY INSTANCE 15
#AREA_GROUP "pblock_idelay[15]" RANGE=SLICE_X112Y74:SLICE_X113Y74;
#INST "tp/gen_code_label3[60].LUT1_insti" AREA_GROUP = "pblock_idelay[15]";
#INST "tp/gen_code_label3[61].LUT1_insti" AREA_GROUP = "pblock_idelay[15]";
#INST "tp/gen_code_label3[62].LUT1_insti" AREA_GROUP = "pblock_idelay[15]";
#INST "tp/gen_code_label3[63].LUT1_insti" AREA_GROUP = "pblock_idelay[15]";
#INST "tp/gen_code_label3[60].LDCE_Delayi" AREA_GROUP = "pblock_idelay[15]";
#INST "tp/gen_code_label3[61].LDCE_Delayi" AREA_GROUP = "pblock_idelay[15]";
#INST "tp/gen_code_label3[62].LDCE_Delayi" AREA_GROUP = "pblock_idelay[15]";
#INST "tp/gen_code_label3[63].LDCE_Delayi" AREA_GROUP = "pblock_idelay[15]";
#
#
#
## INITIAL DELAY INSTANCE 14
#AREA_GROUP "pblock_idelay[14]" RANGE=SLICE_X112Y73:SLICE_X113Y73;
#INST "tp/gen_code_label3[56].LUT1_insti" AREA_GROUP = "pblock_idelay[14]";
#INST "tp/gen_code_label3[57].LUT1_insti" AREA_GROUP = "pblock_idelay[14]";
#INST "tp/gen_code_label3[58].LUT1_insti" AREA_GROUP = "pblock_idelay[14]";
#INST "tp/gen_code_label3[59].LUT1_insti" AREA_GROUP = "pblock_idelay[14]";
#INST "tp/gen_code_label3[56].LDCE_Delayi" AREA_GROUP = "pblock_idelay[14]";
#INST "tp/gen_code_label3[57].LDCE_Delayi" AREA_GROUP = "pblock_idelay[14]";
#INST "tp/gen_code_label3[58].LDCE_Delayi" AREA_GROUP = "pblock_idelay[14]";
#INST "tp/gen_code_label3[59].LDCE_Delayi" AREA_GROUP = "pblock_idelay[14]";
#
#
#
## INITIAL DELAY INSTANCE 13
#AREA_GROUP "pblock_idelay[13]" RANGE=SLICE_X112Y72:SLICE_X113Y72;
#INST "tp/gen_code_label3[52].LUT1_insti" AREA_GROUP = "pblock_idelay[13]";
#INST "tp/gen_code_label3[53].LUT1_insti" AREA_GROUP = "pblock_idelay[13]";
#INST "tp/gen_code_label3[54].LUT1_insti" AREA_GROUP = "pblock_idelay[13]";
#INST "tp/gen_code_label3[55].LUT1_insti" AREA_GROUP = "pblock_idelay[13]";
#INST "tp/gen_code_label3[52].LDCE_Delayi" AREA_GROUP = "pblock_idelay[13]";
#INST "tp/gen_code_label3[53].LDCE_Delayi" AREA_GROUP = "pblock_idelay[13]";
#INST "tp/gen_code_label3[54].LDCE_Delayi" AREA_GROUP = "pblock_idelay[13]";
#INST "tp/gen_code_label3[55].LDCE_Delayi" AREA_GROUP = "pblock_idelay[13]";
#
#
#
## INITIAL DELAY INSTANCE 12
#AREA_GROUP "pblock_idelay[12]" RANGE=SLICE_X112Y71:SLICE_X113Y71;
#INST "tp/gen_code_label3[48].LUT1_insti" AREA_GROUP = "pblock_idelay[12]";
#INST "tp/gen_code_label3[49].LUT1_insti" AREA_GROUP = "pblock_idelay[12]";
#INST "tp/gen_code_label3[50].LUT1_insti" AREA_GROUP = "pblock_idelay[12]";
#INST "tp/gen_code_label3[51].LUT1_insti" AREA_GROUP = "pblock_idelay[12]";
#INST "tp/gen_code_label3[48].LDCE_Delayi" AREA_GROUP = "pblock_idelay[12]";
#INST "tp/gen_code_label3[49].LDCE_Delayi" AREA_GROUP = "pblock_idelay[12]";
#INST "tp/gen_code_label3[50].LDCE_Delayi" AREA_GROUP = "pblock_idelay[12]";
#INST "tp/gen_code_label3[51].LDCE_Delayi" AREA_GROUP = "pblock_idelay[12]";
#
#
#
## INITIAL DELAY INSTANCE 11
#AREA_GROUP "pblock_idelay[11]" RANGE=SLICE_X112Y70:SLICE_X113Y70;
#INST "tp/gen_code_label3[44].LUT1_insti" AREA_GROUP = "pblock_idelay[11]";
#INST "tp/gen_code_label3[45].LUT1_insti" AREA_GROUP = "pblock_idelay[11]";
#INST "tp/gen_code_label3[46].LUT1_insti" AREA_GROUP = "pblock_idelay[11]";
#INST "tp/gen_code_label3[47].LUT1_insti" AREA_GROUP = "pblock_idelay[11]";
#INST "tp/gen_code_label3[44].LDCE_Delayi" AREA_GROUP = "pblock_idelay[11]";
#INST "tp/gen_code_label3[45].LDCE_Delayi" AREA_GROUP = "pblock_idelay[11]";
#INST "tp/gen_code_label3[46].LDCE_Delayi" AREA_GROUP = "pblock_idelay[11]";
#INST "tp/gen_code_label3[47].LDCE_Delayi" AREA_GROUP = "pblock_idelay[11]";
#
#
#
## INITIAL DELAY INSTANCE 10
#AREA_GROUP "pblock_idelay[10]" RANGE=SLICE_X112Y69:SLICE_X113Y69;
#INST "tp/gen_code_label3[40].LUT1_insti" AREA_GROUP = "pblock_idelay[10]";
#INST "tp/gen_code_label3[41].LUT1_insti" AREA_GROUP = "pblock_idelay[10]";
#INST "tp/gen_code_label3[42].LUT1_insti" AREA_GROUP = "pblock_idelay[10]";
#INST "tp/gen_code_label3[43].LUT1_insti" AREA_GROUP = "pblock_idelay[10]";
#INST "tp/gen_code_label3[40].LDCE_Delayi" AREA_GROUP = "pblock_idelay[10]";
#INST "tp/gen_code_label3[41].LDCE_Delayi" AREA_GROUP = "pblock_idelay[10]";
#INST "tp/gen_code_label3[42].LDCE_Delayi" AREA_GROUP = "pblock_idelay[10]";
#INST "tp/gen_code_label3[43].LDCE_Delayi" AREA_GROUP = "pblock_idelay[10]";
#
#
#
## INITIAL DELAY INSTANCE 9
#AREA_GROUP "pblock_idelay[9]" RANGE=SLICE_X112Y68:SLICE_X113Y68;
#INST "tp/gen_code_label3[36].LUT1_insti" AREA_GROUP = "pblock_idelay[9]";
#INST "tp/gen_code_label3[37].LUT1_insti" AREA_GROUP = "pblock_idelay[9]";
#INST "tp/gen_code_label3[38].LUT1_insti" AREA_GROUP = "pblock_idelay[9]";
#INST "tp/gen_code_label3[39].LUT1_insti" AREA_GROUP = "pblock_idelay[9]";
#INST "tp/gen_code_label3[36].LDCE_Delayi" AREA_GROUP = "pblock_idelay[9]";
#INST "tp/gen_code_label3[37].LDCE_Delayi" AREA_GROUP = "pblock_idelay[9]";
#INST "tp/gen_code_label3[38].LDCE_Delayi" AREA_GROUP = "pblock_idelay[9]";
#INST "tp/gen_code_label3[39].LDCE_Delayi" AREA_GROUP = "pblock_idelay[9]";
#
#
#
## INITIAL DELAY INSTANCE 8
#AREA_GROUP "pblock_idelay[8]" RANGE=SLICE_X112Y67:SLICE_X113Y67;
#INST "tp/gen_code_label3[32].LUT1_insti" AREA_GROUP = "pblock_idelay[8]";
#INST "tp/gen_code_label3[33].LUT1_insti" AREA_GROUP = "pblock_idelay[8]";
#INST "tp/gen_code_label3[34].LUT1_insti" AREA_GROUP = "pblock_idelay[8]";
#INST "tp/gen_code_label3[35].LUT1_insti" AREA_GROUP = "pblock_idelay[8]";
#INST "tp/gen_code_label3[32].LDCE_Delayi" AREA_GROUP = "pblock_idelay[8]";
#INST "tp/gen_code_label3[33].LDCE_Delayi" AREA_GROUP = "pblock_idelay[8]";
#INST "tp/gen_code_label3[34].LDCE_Delayi" AREA_GROUP = "pblock_idelay[8]";
#INST "tp/gen_code_label3[35].LDCE_Delayi" AREA_GROUP = "pblock_idelay[8]";
#
#
#
## INITIAL DELAY INSTANCE 7
#AREA_GROUP "pblock_idelay[7]" RANGE=SLICE_X112Y66:SLICE_X113Y66;
#INST "tp/gen_code_label3[28].LUT1_insti" AREA_GROUP = "pblock_idelay[7]";
#INST "tp/gen_code_label3[29].LUT1_insti" AREA_GROUP = "pblock_idelay[7]";
#INST "tp/gen_code_label3[30].LUT1_insti" AREA_GROUP = "pblock_idelay[7]";
#INST "tp/gen_code_label3[31].LUT1_insti" AREA_GROUP = "pblock_idelay[7]";
#INST "tp/gen_code_label3[28].LDCE_Delayi" AREA_GROUP = "pblock_idelay[7]";
#INST "tp/gen_code_label3[29].LDCE_Delayi" AREA_GROUP = "pblock_idelay[7]";
#INST "tp/gen_code_label3[30].LDCE_Delayi" AREA_GROUP = "pblock_idelay[7]";
#INST "tp/gen_code_label3[31].LDCE_Delayi" AREA_GROUP = "pblock_idelay[7]";
#
#
#
## INITIAL DELAY INSTANCE 6
#AREA_GROUP "pblock_idelay[6]" RANGE=SLICE_X112Y65:SLICE_X113Y65;
#INST "tp/gen_code_label3[24].LUT1_insti" AREA_GROUP = "pblock_idelay[6]";
#INST "tp/gen_code_label3[25].LUT1_insti" AREA_GROUP = "pblock_idelay[6]";
#INST "tp/gen_code_label3[26].LUT1_insti" AREA_GROUP = "pblock_idelay[6]";
#INST "tp/gen_code_label3[27].LUT1_insti" AREA_GROUP = "pblock_idelay[6]";
#INST "tp/gen_code_label3[24].LDCE_Delayi" AREA_GROUP = "pblock_idelay[6]";
#INST "tp/gen_code_label3[25].LDCE_Delayi" AREA_GROUP = "pblock_idelay[6]";
#INST "tp/gen_code_label3[26].LDCE_Delayi" AREA_GROUP = "pblock_idelay[6]";
#INST "tp/gen_code_label3[27].LDCE_Delayi" AREA_GROUP = "pblock_idelay[6]";
#
#
#
## INITIAL DELAY INSTANCE 5
#AREA_GROUP "pblock_idelay[5]" RANGE=SLICE_X112Y64:SLICE_X113Y64;
#INST "tp/gen_code_label3[20].LUT1_insti" AREA_GROUP = "pblock_idelay[5]";
#INST "tp/gen_code_label3[21].LUT1_insti" AREA_GROUP = "pblock_idelay[5]";
#INST "tp/gen_code_label3[22].LUT1_insti" AREA_GROUP = "pblock_idelay[5]";
#INST "tp/gen_code_label3[23].LUT1_insti" AREA_GROUP = "pblock_idelay[5]";
#INST "tp/gen_code_label3[20].LDCE_Delayi" AREA_GROUP = "pblock_idelay[5]";
#INST "tp/gen_code_label3[21].LDCE_Delayi" AREA_GROUP = "pblock_idelay[5]";
#INST "tp/gen_code_label3[22].LDCE_Delayi" AREA_GROUP = "pblock_idelay[5]";
#INST "tp/gen_code_label3[23].LDCE_Delayi" AREA_GROUP = "pblock_idelay[5]";
#
#
#
## INITIAL DELAY INSTANCE 4
#AREA_GROUP "pblock_idelay[4]" RANGE=SLICE_X112Y63:SLICE_X113Y63;
#INST "tp/gen_code_label3[16].LUT1_insti" AREA_GROUP = "pblock_idelay[4]";
#INST "tp/gen_code_label3[17].LUT1_insti" AREA_GROUP = "pblock_idelay[4]";
#INST "tp/gen_code_label3[18].LUT1_insti" AREA_GROUP = "pblock_idelay[4]";
#INST "tp/gen_code_label3[19].LUT1_insti" AREA_GROUP = "pblock_idelay[4]";
#INST "tp/gen_code_label3[16].LDCE_Delayi" AREA_GROUP = "pblock_idelay[4]";
#INST "tp/gen_code_label3[17].LDCE_Delayi" AREA_GROUP = "pblock_idelay[4]";
#INST "tp/gen_code_label3[18].LDCE_Delayi" AREA_GROUP = "pblock_idelay[4]";
#INST "tp/gen_code_label3[19].LDCE_Delayi" AREA_GROUP = "pblock_idelay[4]";
#
#
#
## INITIAL DELAY INSTANCE 3
#AREA_GROUP "pblock_idelay[3]" RANGE=SLICE_X112Y62:SLICE_X113Y62;
#INST "tp/gen_code_label3[12].LUT1_insti" AREA_GROUP = "pblock_idelay[3]";
#INST "tp/gen_code_label3[13].LUT1_insti" AREA_GROUP = "pblock_idelay[3]";
#INST "tp/gen_code_label3[14].LUT1_insti" AREA_GROUP = "pblock_idelay[3]";
#INST "tp/gen_code_label3[15].LUT1_insti" AREA_GROUP = "pblock_idelay[3]";
#INST "tp/gen_code_label3[12].LDCE_Delayi" AREA_GROUP = "pblock_idelay[3]";
#INST "tp/gen_code_label3[13].LDCE_Delayi" AREA_GROUP = "pblock_idelay[3]";
#INST "tp/gen_code_label3[14].LDCE_Delayi" AREA_GROUP = "pblock_idelay[3]";
#INST "tp/gen_code_label3[15].LDCE_Delayi" AREA_GROUP = "pblock_idelay[3]";
#
#
#
## INITIAL DELAY INSTANCE 2
#AREA_GROUP "pblock_idelay[2]" RANGE=SLICE_X112Y61:SLICE_X113Y61;
#INST "tp/gen_code_label3[8].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
#INST "tp/gen_code_label3[9].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
#INST "tp/gen_code_label3[10].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
#INST "tp/gen_code_label3[11].LUT1_insti" AREA_GROUP = "pblock_idelay[2]";
#INST "tp/gen_code_label3[8].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";
#INST "tp/gen_code_label3[9].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";
#INST "tp/gen_code_label3[10].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";
#INST "tp/gen_code_label3[11].LDCE_Delayi" AREA_GROUP = "pblock_idelay[2]";
#
#
#
## INITIAL DELAY INSTANCE 1
#AREA_GROUP "pblock_idelay[1]" RANGE=SLICE_X112Y60:SLICE_X113Y60;
#INST "tp/gen_code_label3[4].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
#INST "tp/gen_code_label3[5].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
#INST "tp/gen_code_label3[6].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
#INST "tp/gen_code_label3[7].LUT1_insti" AREA_GROUP = "pblock_idelay[1]";
#INST "tp/gen_code_label3[4].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";
#INST "tp/gen_code_label3[5].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";
#INST "tp/gen_code_label3[6].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";
#INST "tp/gen_code_label3[7].LDCE_Delayi" AREA_GROUP = "pblock_idelay[1]";
#
#
#
## INITIAL DELAY INSTANCE 0
#AREA_GROUP "pblock_idelay[0]" RANGE=SLICE_X112Y59:SLICE_X113Y59;
#INST "tp/gen_code_label3[0].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
#INST "tp/gen_code_label3[1].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
#INST "tp/gen_code_label3[2].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
#INST "tp/gen_code_label3[3].LUT1_insti" AREA_GROUP = "pblock_idelay[0]";
#INST "tp/gen_code_label3[0].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";
#INST "tp/gen_code_label3[1].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";
#INST "tp/gen_code_label3[2].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";
#INST "tp/gen_code_label3[3].LDCE_Delayi" AREA_GROUP = "pblock_idelay[0]";
#








#
#INST "MMCME2_Base_inst" LOC = "X1Y1";




INST "uartOut" AREA_GROUP = "pblock_uartOut";
AREA_GROUP "pblock_uartOut" RANGE=SLICE_X124Y75:SLICE_X131Y98;





#INST "tp" AREA_GROUP = "pblock_tp";
#AREA_GROUP "pblock_tp" RANGE=SLICE_X106Y53:SLICE_X111Y98;
#AREA_GROUP "pblock_tp" RANGE=DSP48_X3Y22:DSP48_X3Y37;
INST "tdc_decode" AREA_GROUP = "pblock_tdc_decode";
AREA_GROUP "pblock_tdc_decode" RANGE=SLICE_X114Y52:SLICE_X123Y99;
AREA_GROUP "pblock_tdc_decode" RANGE=DSP48_X4Y22:DSP48_X4Y39;
AREA_GROUP "pblock_tdc_decode" RANGE=RAMB18_X4Y22:RAMB18_X4Y39;
AREA_GROUP "pblock_tdc_decode" RANGE=RAMB36_X4Y11:RAMB36_X4Y19;
